<% content_for :banner do %>
  <div class="v-carousel-content">
    <ul>
      <% @banner_items.each_with_index do |item, i| %>
        <li class="v-carousel-image" id="v-carousel-index-<%= i %>">
          <%= link_to item.link do %>
            <%= image_tag item.icon.url(:normal, false), :alt => (item.alt || item.name) %>
          <% end %>
        </li>
      <% end  %>
    </ul>
  </div>
<% end %>

<% content_for :bannernav do %>
  <ul>
    <li class="v-carousel-prev"><a href="#">&laquo;</a></li>
      <% @banner_items.each_with_index do |item, i| %>
        <li class="v-carousel-nav v-carousel-index-<%= (i==0) ? "#{i} v-carousel-current" : i %>"><a href="#"><%= item.name %></a></li>
      <% end %>
    <li class="v-carousel-next"><a href="#">&raquo;</a></li>
  </ul>
<% end %>

<% content_for :sidebar do %>
  <div data-hook="taxon_sidebar_navigation">
    <%= render :partial => "spree/shared/taxonomies" %>
  </div>
<% end %>

<h1>Placeholder for front page content</h1>
<ul id="test">
</ul>

