<div id="banner" role="banner">
  <section>
    <div>
      <ul>
        <% @banner_items.each_with_index do |item, i| %>
        <li id="b<%= i + 1 %>">
          <%= link_to item.link do %>
            <%= image_tag item.icon.url(:normal, false), :width => 128, :height => 128, :alt => (item.alt || item.name) %>
          <% end %>
        </li>
        <% end  %>
      </ul>
    </div>
  </section>

  <nav id="banner-nav">
    <ul>
      <li class="first"><a href="#">&laquo;</a></li>
      <% @banner_items.each_with_index do |item, i| %>
      <li <% if i == 1 %>class="current"<% end %> id="b<%= i %>_handle><a href="#"><%= item.name %></a></li>
      <% end %>
      <li class="last"><a href="#">&raquo;</a></li>
    </ul>
  </nav>
</div>
