<div id="header-wrapper">
  <div class="container">
    <%= render :partial => "shared/header" %>
  </div>
</div>


<% if content_for?(:banner) %>
  <div id="banner-wrapper">
    <div class="container">
      <div id="banner" role="banner">
        <%= yield :banner %>
      </div>
    </div>
  </div>
<% end %>


<% if content_for?(:bannernav) %>
  <div id="bannernav-wrapper">
    <div class="container">
      <nav id="bannernav" role="bannernav">
        <%= yield :bannernav %>
      </nav>
    </div>
  </div>
<% end %>


<div id="content-wrapper">
  <div class="container">
    <div id="wrapper" class="row" data-hook>
      
      <% if content_for?(:sidebar) %>
        <aside id="sidebar" class="columns alpha four" data-hook>
          <%= yield :sidebar %>
        </aside>
      <% end %>

      <div id="content" class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" data-hook>
        <%= breadcrumbs(@taxon) %>
        <%= flash_messages %>
        <%= render :partial => "shared/splash" %>
        <%= yield %>
      </div>

    </div>
  </div>
</div>


<div id="footer-wrapper">
  <div class="container">
    <footer id="footer" class="row" data-hook>
      <div>
        <h3>Contact Us</h3>
        <div class="footer-content">
          (206) 805-2400
          <br>
          <a href="mailto:vulcanknife@gmail.com">vulcanknife@gmail.com</a>
          <p><%= t(:powered_by) %> <%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
        </div>
      </div>
      <div>
        <h3>Social</h3>
        <ul class="footer-content">
          <li><a id="facebook" href="http://www.facebook.com/pages/Vulcan-Knife/353904287955426">facebook</a></li>
          <li><a id="yelp" href="http://www.yelp.com/biz/vulcan-knife-works-seattle-2">yelp</a></li>
        </ul>
      </div>
      <div id="footer-right" data-hook>
        <h3>Menu</h3>
      </div>
    </footer>
  </div>
</div>


<%= render :partial => 'spree/shared/google_analytics' %>

